/* 1.글씨체 링크 연결 - 경기체 */
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
	overflow-x: hidden;
	overflow-y: scroll;
	}
.cf:after{content:''; display:block; clear:both;}
.fl{float:left;}
.fr{float:right;}
.df{display:flex;}
.pr{position: relative;}
.pa{position: absolute;}

/* 폰트 경기체, 배경색 */
body{font-family: 'GyeonggiTitleM';  background-color: #269bcf; height: 2000px; }
#header .logo { width: 10%; height: 100%; }

#header .nav { width: 50%; margin: 0 10%; display: flex; } 


/* 주메뉴 옆 gnb 영역*/
#header .gnb { width: 20%; display: flex;}
.gnb {width: 10%; display: flex; margin-top: -12px;} 
.gnb li{font-size: 0.8em; width:100px;} 
.gnb li a{display: block; width:100%; height:100%; line-height: 90px; text-align: center; color: #ffffff;} 
.gnb li a img{width:30px; vertical-align: middle;} 

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}


/*  레이아웃 설정 */
.layout {
		position: relative;
		height: 100%;
		margin: 0px auto;
		padding: 0 60px;
}


.layout > * {
	padding: 30px 0;
}

/* 주메뉴 */
.menus {
	position: relative;
	display: flex;
}
.menu {
	position: relative;
}
.menu > a {
	background-color: #269bcf;
	padding: 0.5em 1.5em 0.5em 2em;
	display: block;
	text-align: center;
	position: relative;
	margin-top: 15px;
	color: #fff;
	font-size: 1.5em;
}

.menu input {
	display: none;
}

.menu .content {
	position: absolute;
	left: 30px;
	background: #90c740;;
	color: #fff;
	padding: 15px;
	display: none;
}
.menu:hover .content {
	display: block;
}

.menu .content ul a {
	color: #fff;
	display: block;
	white-space: nowrap;
	padding: 5px;
	text-align: center;
}
.menu .content ul input + label {
	display: block;
	padding: 5px;
	padding-right: 24px;
}
/* 1~5 :nth-child(-n+5) 
  15~20:nth-child(n+15):nth-child(-n+20)
*/

/* 이미지 크기 */
.content img{
	max-width: 100%;
}

/* 1depth 3menu */
.content article{
	min-width: 360px;
	max-height: 360px;
	overflow-y: auto;
}
.content article::-webkit-scrollbar{
	width: 5px;
	background: blue;
}
.content article::-webkit-scrollbar-thumb{
	background: skyblue;
	border-radius: 50%;
}




/* span 2deps 글자크기 작게 */
span {font-size: 1em;}

/*메인 배너랑 글씨 가운데로 위치 조정*/
.main{
	margin: auto;
    width: 100%;
    max-width: 1400px;
	margin-top: 100px;
}
.bgimg1{
	background-image: url(/images/main_visual_01.png);
}

.main ul li{ margin: auto;}

h1{color:#fff; padding-left: 0%; margin-top: 0px; font-size: 3em; font-weight: normal;}

.section1{
	margin: auto;
    width: 100%;
    max-width: 1400px;
	margin-top: 100px;
}
.bgimg2{
	background-image: url(/images/main_company_bg.jpg);
}

.main1{
	margin: auto;
    width: 100%;
    max-width: 1400px;
	margin-top: 100px;;
}

.main1 ul li{
	display: block;
	padding: 10px;
}
div {margin: 0 auto;}

.main1 ul li a{
font-size: 24px;
: 1px solid white;
}
h5{font-size: 35px;}

/*#wapper  */
#wapper{max-width: 1200px; margin: 0 auto;}

/* 위치 크기 정렬 확인용 나중에 삭제 */
.container{border: 1px solid red;}

bg1{
	background-image: url('/images/main_company_bg.jpg');
	background-repeat: no repeat;
	background-size: 100% 100%;
	background-position: 0 0;
}

h2{
	font-size: 30px;
    color: #258acb;
    font-weight: 600;
    margin-bottom: 35px;
}