body p{background: pink;}
p+h1{ color:red; text-align: center;}
p+h1:before{content:'💛';}
p~h2:before{content:'💛';}

/*---------속성선택자------------*/
/*a태그 4개
  a*1 속성없이 태그만
  a*2 href
  a*1 title 속성
*/
a{font-size: 2em;}
a[href]{background: skyblue;}
a[title="title"]{text-decoration: none; background: lemonchiffon}